* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 226, 255);
}

.calculator {
  width: 320px;
  border: 4px solid;
  display: flex;
  flex-direction: column;
  color: white;
}

#display {
  display: flex;
  justify-content: right;
  padding: 8px;
  border-bottom: solid;
  align-items: end;
  height: 60px;
  background-color: black;
}

button {
  color: white;
}

.row {
  display: flex;
}

#clear, #zero {
  width: 160px;
  height: 60px;
}

#clear {
  background-color: rgb(220, 53, 69);
}

.operator, .number, #decimal {
  width: 80px;
  height: 60px;
}

.number, #decimal {
  background-color: rgb(33, 37, 41);
}

.operator {
  background-color: rgb(108, 117, 125);
}

#equals {
  width: 80px;
  height: 120px;
  background-color: rgb(0, 68, 102);
}